<div class="card h-100 shadow-sm">
  <div class="card-header">
    <h3 class="m-auto d-inline">
      <i
        class="fa mr-2"
        [ngClass]="{ 'fa-code-fork': repo.fork, 'fa-book': !repo.fork }"
      ></i>
      <a [href]="repo.html_url" class="text-decoration-none">{{ repo.name }}</a>
    </h3>
  </div>
  <div class="card-body">
    <h5 class="card-text mb-2">
      <i class="fa fa-user mr-2"></i>
      <a
        routerLink="/details/{{ repo.owner.login }}"
        class="text-decoration-none"
      >
        {{ repo.owner.login }}
      </a>
    </h5>
    <h5 class="card-text mb-2" *ngIf="repo.language">
      <i class="fa fa-pencil"></i> {{ repo.language }}
    </h5>
    <h5 class="card-text mb-2">
      <span class="mr-2">
        <i class="fa fa-star"></i> {{ repo.stargazers_count }}
      </span>
      <span class="mx-2"><i class="fa fa-code-fork"></i> {{ repo.forks }}</span>
      <span class="mx-2">
        <i class="fa fa-binoculars"></i> {{ repo.watchers_count }}
      </span>
    </h5>
    <p class="card-text">{{ repo.description | description }}</p>
  </div>
</div>
