<div class="container">
  <form #f="ngForm" (ngSubmit)="submit(f)">
    <div class="input-group mt-3">
      <input
        required
        type="text"
        class="form-control"
        name="query"
        [(ngModel)]="query"
        placeholder="Search repositories here...."
      />
      <button type="submit" [disabled]="f.invalid" class="btn btn-primary">
        <i class="fa fa-search"></i> Search
      </button>
    </div>
  </form>
  <div *ngIf="repos != null && repos.length != 0; else loading">
    <div class="row g-3 my-1">
      <div
        class="col-lg-4 col-md-6 col-sm-12"
        *ngFor="let repo of repos"
      >
        <repository [repo]="repo"></repository>
      </div>
    </div>
    <pagination [page]="page" link="/repository" [query]="{ query: query }">
    </pagination>
  </div>
  <div class="alert alert-danger my-2" *ngIf="error != null">{{ error }}</div>
</div>
<ng-template #loading>
  <spinner *ngIf="page != null && error == null && !repos"></spinner>
  <div class="alert alert-primary my-2" *ngIf="repos">
    No repositories named <b>{{query}}</b> found.
  </div>
</ng-template>
