<div class="container">
  <form #f="ngForm" (ngSubmit)="submit(f)">
    <div class="input-group mt-3">
      <input
        required
        type="text"
        name="query"
        [(ngModel)]="query"
        placeholder="Search users here....."
        class="form-control"
      />
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
        <i class="fa fa-search"></i> Search
      </button>
    </div>
  </form>
  <div
    class="result-container my-3"
    *ngIf="users != null && users.length != 0; else nothingFound"
  >
    <div class="list-group">
      <user *ngFor="let user of users" [user]="user"></user>
    </div>
    <pagination
      [page]="page"
      link="/users"
      [query]="{ query: query }"
    ></pagination>
  </div>
  <div class="alert alert-danger my-3" *ngIf="error != null">{{ error }}</div>
</div>
<ng-template #nothingFound>
  <spinner *ngIf="page != null && error == null && !users"></spinner>
  <div class="alert alert-primary my-2" *ngIf="users">
    No users with username <b>{{query}}</b> found.
  </div>
</ng-template>
