<div class="card h-100">
    <div class="card-header">
        <h3 class="m-auto">{{ repo.name }}</h3>
    </div>
    <div class="card-body">
        <h5>By : <strong>{{ repo.owner.login }}</strong></h5>
        <p class="card-text" *ngIf="repo.language!=null">Language : <strong>{{ repo['language'] }}</strong></p>
        <p class="card-text">Stars : <strong>{{ repo.stargazers_count }}</strong></p>
        <p class="card-text" *ngIf="repo.description!=null; else temp">{{ repo.description|description }}</p>
        <a [href]="repo.svn_url" class="btn btn-outline-primary mr-1">Repository</a>
        <a [routerLink]="['/about',repo.owner.login]" class="btn btn-outline-success ml-1">Author</a>
    </div>
</div>
<ng-template #temp>
    <p class="card-text">No Description</p>
</ng-template>
